.font2{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI';
}

.font3{
    font-size: 20px;
    font-family: 'Segoe UI';
}

.text{
    text-align: center;
    font-family: 'Segoe UI';
}
.bigfont{
    font-size: 35px;
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    font-family: 'Segoe UI';
} 
  
th,td {
    border: 1px solid black;
}
table.table{
    table-layout: auto;
    width: 180px; 
    
    
}

  
#box_sh{
    background-color: #FFDAB9;
    border: 1px solid;
    padding: auto;
    box-shadow: 5px 10px #CD853F;
    margin-bottom: 50px;
}
.grid-container {
    margin-inline: 100px;
    display: grid;
    grid: 150px / auto auto;
    grid-gap: 10px;;
    padding: 20px;
}
  
.skl{
    margin-top: 60px; 
    margin-left: 200px;
}

  body {
      padding: auto;
      background-size: unset;
      
  }

@media screen and (max-width: 923px){
    .text {
        color:blue;
    }
    .grid-container {
        margin-inline: 100px;
        display:block;
        grid-gap: 10px;;
        padding: 20px;
    }
    .skl{
        margin-top: auto; 
        margin-left: auto;
    }
}

@media screen and (max-width: 600px){
    .text{
        color:green;
    }
}

.hero-banner{
    background-image: url(https://images.unsplash.com/photo-1525409658747-a85b2be82823?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80);
    background-size: cover;
    height: 500px;
    background-position:center ;
    background-repeat: no-repeat;
}

.footer{
    height: 50px;
}